page-formcourses {
	.validaciones{
		padding-top:5px;
		text-align:center;
		background-color:transparent;
	}
	.validaciones >label{
		color:red;
	}
	.btn_guardar{
		background-color: #FF6633;
		color: #fff;
		width:100%;
		text-align:center;
		font-size:15px;
		-webkit-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.71);
		-moz-box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.71);
		box-shadow: 0px 3px 10px -3px rgba(0, 0, 0, 0.71);
	}
	.title{
		text-align: center;
		color:#FF6633;
		font-size: 20px;
		margin: 13px 8px 0px 0px;
	}
}
